.big-ads-container-img {
    /* margin-top: 100px; */
    width: 100%;
    height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-ads-container-img img {
    z-index: 0;
    position: relative;
    left: -100px;
    top: 130px;
    width: 40%;
    height: 60%;
    filter: saturate(0);
    transform: rotate(-20deg);
}

.offer-closes-soon {
    color: white;
    letter-spacing: 10px;
    font-size: 50px;
    transform: rotate(-20deg);
}
