.product-card {
  width: 280px;
  height: fit-content;
  flex: 0 0 280px;
  background: #f8f8f8;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}


.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.2);
}


.discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #e63946;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  z-index: 1;
}


.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}


.product-info {
  padding: 14px;
}

.product-name {
  font-size: 18px;
  margin-bottom: 4px;
}

.product-desc {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}


.ratings {
  margin-bottom: 8px;
}

.star {
  color: #ccc;
  font-size: 16px;
}

.star.filled {
  color: #f4c430;
}


.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.discounted-price {
  font-size: 18px;
  font-weight: bold;
  color: #2a9d8f;
}

.actual-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #888;
}


.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.add-to-cart-btn:hover {
  background: #333;
}

