@import '../../index.css';

.outer-layer-header {
    z-index: 2;
    color: var(--alt-text-color);
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 80px;
    background-color: var(--header-footer-bg-color);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.website-name {
    font-size: 30px;
    width: max-content;
}

.routes-home-cart-order {

    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.routes-home-cart-order p{
    color: var(--alt-text-color);
    text-decoration:none;
    transition: all 0.3s;

}
.routes-home-cart-order p:hover{
    background-color: rgba(255, 255, 255, 0.055);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.39);

}

.routes-home-cart-order a{
    text-decoration: none;
}


.search-bar-div {
    width: 30%;
}
#search {
    color: var(--text-color);
    height: 40px;
    width: 90%;
    border-radius: 30px;
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
}
input:focus{
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.39);
    outline: none;
}


.login-signup-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.login-signup-btn p {
    font-size: 30px;
    margin-top: 4px;
}
