.pagination-container {
    padding: 5% 5%;
    width: 90%;
    height: 300px;
    margin-bottom: 50px;
}

.pagination-product-card-container {
    width: 90%;
    gap: 30px;
    padding: 0% 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    height: 450px;
    overflow-x: scroll;
}

.pagination-product-card-container::-webkit-scrollbar {
  height: 8px;
}

.pagination-product-card-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

.pagination-product-card-container::-webkit-scrollbar-track {
  background: #eee;
}
