.pagination-container {
    padding: 5% 5%;
    width: 90%;
    height: 300px;
    margin-bottom: 30px;
}

.pagination-product-card-container {
    gap: 30px;
    padding: 0% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    height: 450px;
    
}