
.produ-details-card {
    width: 100vw;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

.prod-card-div-admin {
    position: relative;
    top: 180px;
    left: 30%;
}

@media only screen and (max-width: 600px) {
    .produ-details-card {
    width: 100vw;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    padding-left: 0%;
}
.prod-card-div-admin {
    position: relative;
    top: 160px;
    left: 0%;
    margin-left: 18%;
    margin-bottom: 50px;
}
}