.cart-product {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px; 
    padding: 50px;
    /* background-color: red; */
}

.empty-image {
    margin-left: 130%;
}


@media only screen and (max-width:600px) {
    .cart-product {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 30px; 
    padding: 50px;
    /* background-color: red; */
    margin-left: 30px;
}
body{
    overflow-x:hidden;
}
}