.profile-div {
    width: 400px;
    height: fit-content;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
    margin-left: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.userdata {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.userdata label,pre {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


.delete-account {
    background-color: black;
    width: fit-content;
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    transition: all 0.2s;
}
.delete-account:hover {
    background-color: rgba(0, 0, 0, 0.767);
    padding-bottom: 20px;
}